{% extends 'base.html.twig' %}

{% block title %}New ConnectedDevice{% endblock %}

{% block content %}
    <h1>Create new ConnectedDevice</h1>

    {{ include('connected_device/_form.html.twig') }}

    <a class="btn btn-outline-secondary"  href="{{ path('app_connected_device_index') }}">back to list</a>
{% endblock %}
